@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Checkout my GitHub page<a href="https://github.com/hassanaftab93/">This is a sample page for assignment purposes :D</a>.</p>
</div>
